<a href="https://colab.research.google.com/github/Yashaswini944/Machine-Learning-and-DSA-practice/blob/main/1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Faster and easier data analysis with pandas
# pandas can import and export data from several formats(.csv, .xlsx,.json,.npz)
#best for analysing datasets contaning multiple types of information

#Numpy- best for numerical calculations

In [ ]:
import pandas as pd

In [ ]:
products = ['a','b','c','d']
products
type(products)
products_categories = pd.Series(products)
products_categories

type(products_categories)

pandas.core.series.Series

In [ ]:
type(pd.Series(products))

daily_rates_dollars = pd.Series([40, 45, 60, 50])
daily_rates_dollars

0    40
1    45
2    60
3    50
dtype: int64

In [ ]:
import numpy as np
import pandas as pd

array_a = np.array([10,20,30,40,50])
type(array_a)

series_a = pd.Series(array_a)
series_a.dtype

dtype('int64')

In [ ]:
type(series_a)

pandas.core.series.Series

In [ ]:
series_a.size

5

In [ ]:
product_categories  = pd.Series(['A','B','C','D'])
product_categories

0    A
1    B
2    C
3    D
dtype: object

In [ ]:
product_categories.dtype

dtype('O')

In [ ]:
product_categories.size

4

In [ ]:
type(product_categories.size)

int

In [ ]:
product_categories.name
print(product_categories.name)

None

In [ ]:
product_categories.name = "Product Categories"
product_categories

0    A
1    B
2    C
3    D
Name: Product Categories, dtype: object

In [ ]:
product_categories.name

'Product Categories'

In [ ]:
print(product_categories.name)

Product Categories