<a href="https://colab.research.google.com/github/Yashaswini944/Machine-Learning-and-DSA-practice/blob/main/DataFrame_iloc_%26_loc%5B%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**.iloc - i for integer , loc for location**

Purely integer-location based indexing for selection by position

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('Lending-company.csv', index_col = 'StringID')
lending_data = data.copy()
lending_data.head()

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [ ]:
lending_data['Product']

StringID
LoanID_1       Product B
LoanID_2       Product D
LoanID_3       Product B
LoanID_4       Product A
LoanID_5       Product B
                 ...
LoanID_1039    Product B
LoanID_1040    Product A
LoanID_1041    Product A
LoanID_1042    Product B
LoanID_1043    Product A
Name: Product, Length: 1043, dtype: object

In [ ]:
lending_data.iloc[1]

LoanID                     2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: LoanID_2, dtype: object

In [ ]:
lending_data.iloc[1,3]

'Location 6'

In [ ]:
lending_data.iloc[1, :]

LoanID                     2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: LoanID_2, dtype: object

In [ ]:
lending_data.iloc[:,3]

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [ ]:
type(lending_data.iloc[1,3])

str

In [ ]:
type(lending_data.iloc[1,:])

pandas.core.series.Series

In [ ]:
lending_data.iloc[[1,3], :]

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active

In [ ]:
lending_data.iloc[: ,[1,3]]

               Product     Location
StringID
LoanID_1     Product B   Location 3
LoanID_2     Product D   Location 6
LoanID_3     Product B   Location 8
LoanID_4     Product A  Location 26
LoanID_5     Product B  Location 34
...                ...          ...
LoanID_1039  Product B  Location 73
LoanID_1040  Product A  Location 82
LoanID_1041  Product A  Location 11
LoanID_1042  Product B  Location 26
LoanID_1043  Product A  Location 94

[1043 rows x 2 columns]

loc[]

In [ ]:
data = pd.read_csv('Lending-company.csv', index_col = 'StringID')
lending_data = data.copy()
lending_data.head()

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [ ]:
lending_data.loc['LoanID_3']

LoanID                     3
Product            Product B
CustomerGender          Male
Location          Location 8
Region              Region 3
TotalPrice           16600.0
StartDate         08/12/2016
Deposit                 1000
DailyRate                 45
TotalDaysYr              365
AmtPaid36               2260
AmtPaid60               3205
AmtPaid360             16340
LoanStatus               NaN
Name: LoanID_3, dtype: object

In [ ]:
lending_data.loc['LoanID_3']

LoanID                     3
Product            Product B
CustomerGender          Male
Location          Location 8
Region              Region 3
TotalPrice           16600.0
StartDate         08/12/2016
Deposit                 1000
DailyRate                 45
TotalDaysYr              365
AmtPaid36               2260
AmtPaid60               3205
AmtPaid360             16340
LoanStatus               NaN
Name: LoanID_3, dtype: object

In [ ]:
lending_data.loc['LoanID_3', :]

LoanID                     3
Product            Product B
CustomerGender          Male
Location          Location 8
Region              Region 3
TotalPrice           16600.0
StartDate         08/12/2016
Deposit                 1000
DailyRate                 45
TotalDaysYr              365
AmtPaid36               2260
AmtPaid60               3205
AmtPaid360             16340
LoanStatus               NaN
Name: LoanID_3, dtype: object

In [ ]:
lending_data.loc['LoanID_3', 'Region']

'Region 3'

In [ ]:
lending_data.loc['Location']

KeyError: 'Location'

In [ ]:
lending_data.loc[:,'Location']

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [ ]:
lending_data.loc[:,'Locations']

KeyError: 'Locations'

In [ ]:
lending_data.shape

(1043, 14)

In [ ]:
lending_data.iloc[1043,:]

IndexError: single positional indexer is out-of-bounds

In [ ]:
lending_data.iloc[:,14]

IndexError: single positional indexer is out-of-bounds

In [ ]:
lending_data.iloc[:,13]

StringID
LoanID_1                 Active
LoanID_2                 Active
LoanID_3                    NaN
LoanID_4                 Active
LoanID_5                 Active
                     ...
LoanID_1039    Finished Payment
LoanID_1040    Finished Payment
LoanID_1041    Finished Payment
LoanID_1042    Finished Payment
LoanID_1043    Finished Payment
Name: LoanStatus, Length: 1043, dtype: object

In [ ]:
lending_data.iloc[:,-1]

StringID
LoanID_1                 Active
LoanID_2                 Active
LoanID_3                    NaN
LoanID_4                 Active
LoanID_5                 Active
                     ...
LoanID_1039    Finished Payment
LoanID_1040    Finished Payment
LoanID_1041    Finished Payment
LoanID_1042    Finished Payment
LoanID_1043    Finished Payment
Name: LoanStatus, Length: 1043, dtype: object

In [ ]:
lending_data['TotalPrice'].iloc[0]

np.float64(17600.0)

In [ ]:
lending_data['TotalPrice'][0]

/tmp/ipython-input-1483234356.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lending_data['TotalPrice'][0]

np.float64(17600.0)

In [ ]:
lending_data['TotalPrice'][1]

/tmp/ipython-input-4135924244.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lending_data['TotalPrice'][1]

np.float64(nan)

In [ ]:
lending_data['TotalPrice'].loc[1]

KeyError: 1

In [ ]:
data = pd.read_csv('Lending-company.csv', index_col = 'StringID')
lending_data = data.copy()
lending_data.head()

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [ ]:
lending_data['TotalPrice'].iloc[0]

np.float64(17600.0)

In [ ]:
lending_data['TotalPrice'].loc['LoanID_1']

np.float64(17600.0)

In [ ]:
lending_data['TotalPrice'][0]

/tmp/ipython-input-1483234356.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lending_data['TotalPrice'][0]

np.float64(17600.0)

In [ ]:
lending_data['TotalPrice'][1]

/tmp/ipython-input-4135924244.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lending_data['TotalPrice'][1]

np.float64(nan)

In [ ]:
lending_data['TotalPrice']['LoanID_1']

np.float64(17600.0)

In [ ]:
lending_data.ilon[0][5]

AttributeError: 'DataFrame' object has no attribute 'ilon'

In [ ]:
lending_data.iloc[[0,5]]

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_6,6,Product A,Male,Location 34,Region 1,NaN,19/04/2019,2200,45,365,3301,4066,15141,Active

In [ ]:
lending_data['TotalPrice']['LoanID_1']

np.float64(17600.0)

In [ ]:
lending_data.loc['LoanID_1', 'TotalPrice']

np.float64(17600.0)

In [ ]:
lending_data.loc[['LoanID_1', 'LoanID_6']]

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_6,6,Product A,Male,Location 34,Region 1,NaN,19/04/2019,2200,45,365,3301,4066,15141,Active

In [ ]:
lending_data.loc[['LoanID_1', 'LoanID_6'], :]

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_6,6,Product A,Male,Location 34,Region 1,NaN,19/04/2019,2200,45,365,3301,4066,15141,Active

In [ ]:
lending_data['TotalPrice'].iloc[[0,5]]

StringID
LoanID_1    17600.0
LoanID_6        NaN
Name: TotalPrice, dtype: float64

In [ ]:
lending_data.loc[:, 'TotalPrice'].iloc[[0,5]]

StringID
LoanID_1    17600.0
LoanID_6        NaN
Name: TotalPrice, dtype: float64